@font-face {
    font-family: batman;
    src: url(../fonts/batman.ttf);
}

@font-face {
    font-family: btn;
    src: url(../fonts/btn.ttf);
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(./../img/buttons.png) url(./../img/player1mini.png) url(./../img/player2mini.png) url(./../img/player3mini.png) url(./../img/soundfalse.png) url(./../img/musicfalse.png);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    display: block;
    margin: auto;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 40px;
    margin: 8px auto;
    text-align: center;
    cursor: default;
}

.instructions {
    font-family: sans-serif;
    float: left;
    color: #757575;
}

.right {
    float: right;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.key {
    color: #afd;
}

.pause-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 1200px;
    height: 600px;
    margin: 56px auto 0 auto;
    opacity: .5;
    background-color: black;
}

.pause {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 700px;
    height: 300px;
    margin: -150px 0 0 -350px;
    text-align: center;
    color: white;
}

.pause h1 {
    font: 3em batman;
    cursor: default;
}

.button {
    font: 14px btn;
    line-height: 84px;
    display: block;
    width: 290px;
    height: 87px;
    margin: 15px auto 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-image: url(./../img/buttons.png);
    background-repeat: no-repeat;
    background-position: left 0;
}

.button:hover {
    background-position: left -87px;
}

.changeskin {
    font-size: 0;
    overflow: hidden;
    width: 100px;
    height: 400px;
    margin-top: -280px;
    padding: 0;
    float: left;
}

.changeskin.player2 {
    float: right;
}

.changeskin > li {
    position: relative;
    display: block;
    width: 90px;
    height: 100px;
    margin-bottom: 15px;
    padding: 1px;
    cursor: pointer;
    background: linear-gradient(to top, #151515, black);
}

.changeskin > li:hover {
    margin-bottom: 11px;
    border: 2px solid #aa5c5f;
}

.changeskin > li.selected {
    margin-bottom: 11px;
    border: 2px solid #f74d01;
}

.changeskin > li > span {
    display: block;
    width: 90px;
    height: 100px;
}

.changeskin > li > span.type1 {
    background-image: url(./../img/player1mini.png);
}

.changeskin > li > span.type2 {
    background-image: url(./../img/player2mini.png);
}

.changeskin > li > span.type3 {
    background-image: url(./../img/player3mini.png);
}

.sound {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1%;
    right: 20%;
    background: url(./../img/soundtrue.png);
    cursor: pointer;
}

.sound:hover {
    border: 1px solid green;
}

.music {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1%;
    right: 15%;
    background: url(./../img/musicfalse.png);
    cursor: pointer;
}

.music:hover {
    border: 1px solid green;
}
